/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
